/* GERAL */

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /*background-image: url('../IMGS/fundoMario.png');*/
  background-color: #121212;

}

:root {
  --tamanho-header: 80px;
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.fundoHome {
  height: var(--tamanho-login);
  background-image: url('../IMGS/fdMario2.jpg');
  background-size: cover;
}

/* HEADER */

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  height: 80px;
  background-color: black;
  border-bottom: 5px solid #E60012;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: white;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;}

.navbar a{
  padding-right: 25px;
}

.titulo {
  color: white;
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin: 0;
}


/* FOOTER */

.footer {
  background-color: black;
  height: 80px;
  color: #fff;
  display: flex;
  font-size: 15px;
  border-top: 5px solid #00C3E3;

}

.footer .container {
  justify-content: center;
  text-align: center;
}

/* HOME */

.hero {
  height: 100vh;
  background: url("../IMGS/nintendo.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;


}

.card{
    width: 1300px;
    height: 350px;

    border: 3px solid #E60012;

    border-radius: 40px;

    margin: 50px auto;
    padding: 25px;

    display: flex;
    align-items: center;
    gap: 30px;
}

.imagem img{
    width: 500px;
    height: 350px;

    object-fit: cover;

    border-radius: 25px;
}

.texto{
    flex: 1;
    text-align: center;
}

.texto h1{
    font-size: 50px;
    margin-bottom: 25px;
    color: white;

}

.texto p{
    font-size: 25px;
    line-height: 1.4;
    color: white;

}


.modos{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.switch{
    width: 320px;
    text-align: center;
    border: 3px solid #E60012;
    border-radius: 40px;
    padding: 10px;


}

.switch img{
    width: 310px;
    height: 137.38px;
    margin-bottom: 20px;
    object-fit: cover;
  border-radius: 25px;
}

.switch h2{
    margin-bottom: 15px;
    font-size: 32px;
    color: white;
}

.switch p{
    font-size: 16px;
    line-height: 1.7;
    color: white;
    padding-right: 25px;
    padding-left: 25px;

}


/* LOGIN E CADASTRO */

.console {
  height: var(--tamanho-login);
}

.titulo-form {
  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-weight: 1000;
}

.console .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}


.corpo {
    width: 70%; 
    display: flex;
    height: 400px;
    padding: 0; 
    border-radius: 40px; 
    overflow: hidden; 
    
}

.lado.esquerdo {
    width: 20%;
    background-color: #00C3E3; 
    border-radius: 40px 0 0 40px; 
    border-right: 5px solid #333; 
    border: 3px solid #3b82f6;

}

.centro {
    width: 60%;
    background-color: #1a1a1a; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; 
    border: 3px solid black;

}

.lado.direito {
    width: 20%;
    background-color: #E60012;
    border-radius: 0 40px 40px 0; /* Arredonda apenas os cantos da direita */
    border-left: 5px solid #333;
    border: 3px solid #ff7a00;
}


.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #ED145B;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}


.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
