/* GERAL */

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #121212;

}

:root {
  --tamanho-header: 80px;
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.fundoHome {
  height: var(--tamanho-login);
  background-image: url('../IMGS/fdMario2.jpg');
  background-size: cover;
}

/* HEADER */

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  height: 80px;
  background-color: black;
  border-bottom: 5px solid #E60012;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: white;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;}

.navbar a{
  padding-right: 25px;
}

.titulo {
  color: white;
  width: fit-content;
  font-weight: 500;
}

.header h1 {
  margin: 0;
}


/* FOOTER */

.footer {
  background-color: black;
  height: 80px;
  color: #fff;
  display: flex;
  font-size: 15px;
  border-top: 5px solid #00C3E3;

}

.footer .container {
  justify-content: center;
  text-align: center;
}

/* HOME */

.hero {
  height: 100vh;
  background: url("../IMGS/nintendo.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;


  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;


}

.card{
    width: 1300px;
    height: 350px;

    border: 3px solid #E60012;

    margin: 50px auto;

    display: flex;
    align-items: center;
    gap: 30px;

    overflow: hidden;
    box-shadow: 0 0 25px #E60012;

}

.imagem img{
    width: 500px;
    height: 350px;

    object-fit: cover;

}

.texto{
    flex: 1;
    text-align: center;
    padding: 25px;

}

.texto h1{
    font-size: 50px;
    margin-bottom: 25px;
    color: white;

}

.texto p{
    font-size: 25px;
    line-height: 1.4;
    color: white;

}


.modos{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.switch{
    width: 320px;
    text-align: center;
    border: 3px solid #E60012;

    overflow: hidden;
    box-shadow: 0 0 25px #E60012;

}

.switch img{
    width: 318px;
    height: 137.38px;
    margin-bottom: 20px;
    object-fit: cover;
}

.switch h2{
    margin-bottom: 15px;
    font-size: 32px;
    color: white;
}

.switch p{
    font-size: 16px;
    line-height: 1.7;
    color: white;
    padding-right: 25px;
    padding-left: 25px;

}

.sensor{
    width: 1100px;
    height: auto;

    border: 3px solid #E60012;
    

    margin: 50px auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  box-shadow: 0 0 25px #E60012;
}

.sensor img{
    width: 100%;
    height: 300px;

    object-fit: cover;

}

.sensor h2{
    margin-top: 20px;
    margin-bottom: 5px;

    font-size: 32px;
    color: white;
}

.sensor p{
    font-size: 18px;
    line-height: 1.7;

    color: white;

    text-align: center;
    padding: 10px;

}


.jogos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.jogos h1{
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    color: white;
}

.card-jogo{
    width: 1300px;
    height: 620px;

    border: 3px solid  #32b9cd;

    padding: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.card-jogo img{
    width: 700px;
    height: 620px;

    object-fit: cover;
  box-shadow: 0 0 25px #00C3E3;
}

.texto-card{
    flex: 1;
    text-align: center;
    color: white;
}

.texto-card h2{
    font-size: 45px;
    margin-bottom: 0.5px;
}

.texto-card p{
    font-size: 24px;
    line-height: 1.5;
    
}

.reverso{
    flex-direction: row-reverse;
}


.outros{
    width: 100%;
    padding: 30px 0 60px;
}

.outros h1{
    text-align: center;
    font-size: 60px;
    margin-bottom: 50px;
    color: white;
}

.games{
    width: 90%;
    margin: auto;

    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.game{
    width: 240px;
    background-color: #ececec;

    transition: 0.3s;
}

.game:hover{
    transform: translateY(-10px);
}

.game img{
    width: 100%;
    height: 300px;

    object-fit: cover;
}

.info{
    padding: 15px;
}

.info h2{
    font-size: 18px;
    margin: 0 0 10px;
    line-height: 1.4;
    color: #3a3a3a;
}

.info span{
    font-size: 16px;
    color: #6b6b6b;
}

/* LOGIN E CADASTRO */

.console {
    height: var(--tamanho-login);

    background-image:
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url('../IMGS/fdMario2.jpg');

    background-size: cover;
    background-position: center;
}

.titulo-form {
  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-weight: 1000;

   text-shadow:
    0 0 5px #fff,
    0 0 40px #fff;
}

.console .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}


.corpo {
    width: 70%; 
    display: flex;
    height: 400px;
    padding: 0; 
    border-radius: 40px; 
    overflow: visible; 
    box-shadow: 0 0 40px rgba(0,0,0,0.8);

    
}

.lado.esquerdo {
    width: 20%;
    background-color: #00C3E3; 
    border-radius: 40px 0 0 40px; 
    border: 3px solid #3b82f6;
    box-shadow: 0 0 30px #00C3E3;

}

.centro {
    width: 60%;
    background-color: #1a1a1a; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; 
    border: 3px solid black;

}

.lado.direito {
    width: 20%;
    background-color: #E60012;
    border-radius: 0 40px 40px 0; 
    border: 3px solid #ff7a00;
    box-shadow: 0 0 30px #E60012;

}


.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #ED145B;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}


.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
